.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001529;
    padding: 0 20px;
}

.header-left {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right .ant-btn {
    margin-left: 10px;
}

.header-right .ant-input-search-button {
    margin: 0;
}
